.main-col {
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  .header{
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    .header-title{
      float: left;
      width: auto;
      margin: 0px 10px !important;
      line-height: 50px;
      font-weight: bold;
      width: 60%;

    }
    border-bottom:1px solid #ccc ;
    height: 1px solid #ccc;
    ul.nav.nav-pills{
      height: 50px;
      width: auto;
      float: left;
      margin-left: 20px;
      li{
        height: 50px;
        a{
          height: 50px;
          color: #444;
          padding: 10px;
          line-height: 30px;
          display: block;
        }
      }
      li.active{
        a{
          font-weight: bold;
          color:000;
          font-weight: bold;
          border-bottom: 1px solid #2980b9;
          display: block;
          margin-bottom: -1px;
          height: 51px;
          cursor: pointer;
        }
      }
    }

    button.new-dc {
      font-weight: bold;
      float: right;
      border: none;
      color: #fff;
      height: 40px;
      display: block;
      padding: 10px 15px;
      line-height: 20px;
      cursor: pointer;
      margin: 5px;
      border-radius: 6px;
      background: #0652DD;
      span {
        color: #fff
      }
    }
    button.new-dc:hover {
      background-color: #1B1464;
      color: #fff;
      span {
        color: #EA2027
      }
    }
  }
  .body{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
  }
}
