<div class="topbar-main">
  <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
          <!-- Text Logo -->
          <!--<a href="index.html" class="logo">-->
          <!--Zoter-->
          <!--</a>-->
          <!-- Image Logo -->
          <a href="/" class="logo"><img src="assets/images/logo.png" alt="" class="logo-large"></a>
      </div>
      <!-- End Logo container-->
      <div class="menu-extras topbar-custom">
          <ul class="list-inline float-right mb-0">
              <!-- User-->
              <li class="list-inline-item dropdown notification-list">
                  <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                      <span class="initials">{{user?.first_name?.substring(0, 1)}}{{ user?.last_name?.substring(0, 1)}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                      <!-- item-->
                      <div class="dropdown-item noti-title">
                          <h5>{{ user.first_name | titlecase }}  {{ user.last_name | titlecase }}</h5>
                      </div>
                      <!--<a class="dropdown-item" href="index.html#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
                      <a class="dropdown-item" href="index.html#"><i class="mdi mdi-wallet m-r-5 text-muted"></i> My Wallet</a>
                      <a class="dropdown-item" href="index.html#"><span class="badge badge-success float-right">5</span><i class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
                      <a class="dropdown-item" href="index.html#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a>
                      <div class="dropdown-divider"></div>-->
                      <a class="dropdown-item" (click)="logOut()"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a></div>
              </li>
              <li class="menu-item list-inline-item">
                  <!-- Mobile menu toggle--
                  <a class="navbar-toggle nav-link">
                      <div class="lines"><span></span> <span></span> <span></span></div>
                  </a>
                  <!-- End mobile menu toggle-->
              </li>
          </ul>
      </div>
      <!-- end menu-extras -->
      <div class="clearfix"></div>
  </div>
  <!-- end container -->
</div>
