.topbar-main{
  background: #7d131b !important;
  .logo-large {
    height: 40px !important;
  }
  .nav-user {
    height: 36px;
    width: 36px;
    position: relative;
    background: rgba($color: #000000, $alpha: 0.2);
    border-radius: 100px;
    margin-top: 12px;
    .initials{
      color: #fff;
      position: absolute;
      top: 0px;
      left: 0px;
      text-transform: uppercase;
      font-size: 13px;
      height: 36px;
      width: 36px;
      line-height: 26px;
      text-align: center;
      padding: 5px;
    }
  }

  .navbar-custom {
    background-color: #7d131b !important;
    box-shadow: none !important;
    padding-left: 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}
}
