<header id="topnav">
  <app-header></app-header>
  <!-- end topbar-main -->
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">Received leads</div>
          <div class="card-body p-0">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>date</th>
                  <th>Platfom</th>
                  <th>Comments</th>
                  <th>positive</th>
                  <th>Negative</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of comments; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{comment.date | date : 'short' }}</td>
                  <td>{{comment.platform}}</td>
                  <td>{{comment.positive + comment.negative}}</td>
                  <td>{{comment.positive}}</td>
                  <th>{{comment.negative}}</th>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" (click)="edit(comment)" data-toggle="modal" data-target="#comment-modal">Edit</button>
                    <button type="button" class="btn btn-danger btn-xs ml-1" (click)="delete(comment)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">New Comments</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="comment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Crowns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="socialMediaForm" class="form-horizontal">

          <div class="form-group">
            <label for="exampleFormControlInput3">Platform</label>
            <select type="text" class="form-control"   formControlName="platform">
              <option value="facebook">facebook</option>
              <option value="twitter">twitter</option>
              <option value="instagram">instagram</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">positive Coments</label>
            <input type="number" class="form-control"   formControlName="positive">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Negative comment</label>
            <input type="number" class="form-control"   formControlName="negative">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Neutral comment</label>
            <input type="number" class="form-control"   formControlName="neutral">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" disabled [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

          </div>

          <button (click)="save()" class="btn btn-primary btn-block">Add Daily comment</button>

        </form>
      </div>
    </div>
  </div>
</div>
