.card.data-card{
    .card-body{
      min-height: 132px;
  
        .round{
          background: transparent;
          border: none;
          img{
            height: 50px;
          }
        }
  
      h5{
        font-size: 2em;
      }
      p{
        font-size: 1.2em;
      }
    }
  }