<div class="mt-5" style="text-align: center;position: fixed;top: 45%;width: 50%;left: 25%;" *ngIf="!dataLoaded">
    <h4 style="text-align: center;">{{loadingMessage}} ...</h4>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  
<div class="container-fluid">
<div *ngIf="dataLoaded">

    <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                <h3 class="mb-0">{{ time | date : 'short'}}</h3>
              </div>
              <!--end card-body-->
          </div>
          <!--end card-->
        </div>
      </div>

      
      <div class="row " >
        <div class="col-lg-3 col-md-3">
          <div class="card data-card">
              <div class="card-body">
                  <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round"><img src="./assets/images/logo.png"/></div>
                      </div>
                      <div class="col-9 align-self-center text-right">
                          <div class="m-l-10" alt="Half the sale in is the amount of crowns in the market.">
                              <h5 class="mt-0">{{ nationalReport.total_posms.foundPoster | number }}</h5>
                              <p class="mb-0 text-muted">Found Posters #</p>
                          </div>
                      </div>
                  </div>
        
              </div>
              <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <div class="col-lg-3 col-md-3">
        <div class="card data-card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-3 align-self-center">
                      <div class="round"><img src="./assets/images/logo.png"/></div>
                    </div>
                    <div class="col-9 align-self-center text-right">
                        <div class="m-l-10" alt="half the number of beers in POC(Sale out).">
                            <h5 class="mt-0">{{nationalReport.total_posms.foundTableTalker | number }}</h5>
                            <p class="mb-0 text-muted">Found TableTalker </p>
                        </div>
                    </div>
                </div>
        
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="card data-card">
              <div class="card-body">
                  <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round"><img src="./assets/images/logo.png"/></div>
                      </div>
                      <div class="col-9 align-self-center text-right">
                          <div class="m-l-10">
                              <h5 class="mt-0">{{nationalReport.total_posms.foundStickerCounter | number }}</h5>
                              <p class="mb-0 text-muted">Sticker Counter</p>
                          </div>
                      </div>
                  </div>
        
              </div>
              <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="card data-card">
              <div class="card-body">
                  <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round"><img src="./assets/images/logo.png"/></div>
                      </div>
                      <div class="col-9 align-self-center text-right">
                          <div class="m-l-10">
                              <h5 class="mt-0">{{nationalReport.total_posms.foundBanners | number }}</h5>
                              <p class="mb-0 text-muted">Found Barner</p>
                          </div>
                      </div>
                  </div>
        
              </div>
              <!--end card-body-->
          </div>
          <!--end card-->
        </div>
        </div>

        <div class="row " >
            <div class="col-lg-3 col-md-3">
              <div class="card data-card">
                  <div class="card-body">
                      <div class="d-flex flex-row">
                          <div class="col-3 align-self-center">
                            <div class="round"><img src="./assets/images/logo.png"/></div>
                          </div>
                          <div class="col-9 align-self-center text-right">
                              <div class="m-l-10" alt="Half the sale in is the amount of crowns in the market.">
                                  <h5 class="mt-0">{{ nationalReport.total_posms.newPoster | number }}</h5>
                                  <p class="mb-0 text-muted">Added Posters #</p>
                              </div>
                          </div>
                      </div>
            
                  </div>
                  <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <div class="col-lg-3 col-md-3">
            <div class="card data-card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="col-3 align-self-center">
                          <div class="round"><img src="./assets/images/logo.png"/></div>
                        </div>
                        <div class="col-9 align-self-center text-right">
                            <div class="m-l-10" alt="half the number of beers in POC(Sale out).">
                                <h5 class="mt-0">{{nationalReport.total_posms.newTableTalker | number }}</h5>
                                <p class="mb-0 text-muted">Added Table Talker </p>
                            </div>
                        </div>
                    </div>
            
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="card data-card">
                  <div class="card-body">
                      <div class="d-flex flex-row">
                          <div class="col-3 align-self-center">
                            <div class="round"><img src="./assets/images/logo.png"/></div>
                          </div>
                          <div class="col-9 align-self-center text-right">
                              <div class="m-l-10">
                                  <h5 class="mt-0">{{nationalReport.total_posms.newStickerCounter | number }}</h5>
                                  <p class="mb-0 text-muted">Added Sticker Counter</p>
                              </div>
                          </div>
                      </div>
            
                  </div>
                  <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="card data-card">
                  <div class="card-body">
                      <div class="d-flex flex-row">
                          <div class="col-3 align-self-center">
                            <div class="round"><img src="./assets/images/logo.png"/></div>
                          </div>
                          <div class="col-9 align-self-center text-right">
                              <div class="m-l-10">
                                  <h5 class="mt-0">{{nationalReport.total_posms.newBanners | number }}</h5>
                                  <p class="mb-0 text-muted">Added Barners</p>
                              </div>
                          </div>
                      </div>
            
                  </div>
                  <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            </div>

            <div class="row " >
                <div class="col-lg-3 col-md-3">
                  <div class="card data-card">
                      <div class="card-body">
                          <div class="d-flex flex-row">
                              <div class="col-3 align-self-center">
                                <div class="round"><img src="./assets/images/logo.png"/></div>
                              </div>
                              <div class="col-9 align-self-center text-right">
                                  <div class="m-l-10" alt="Half the sale in is the amount of crowns in the market.">
                                      <h5 class="mt-0">{{ nationalReport.total_posms.foundPoster + nationalReport.total_posms.newPoster| number }}</h5>
                                      <p class="mb-0 text-muted">All Poster #</p>
                                  </div>
                              </div>
                          </div>
                
                      </div>
                      <!--end card-body-->
                  </div>
                  <!--end card-->
                </div>
                <div class="col-lg-3 col-md-3">
                <div class="card data-card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div class="col-3 align-self-center">
                              <div class="round"><img src="./assets/images/logo.png"/></div>
                            </div>
                            <div class="col-9 align-self-center text-right">
                                <div class="m-l-10" alt="half the number of beers in POC(Sale out).">
                                    <h5 class="mt-0">{{nationalReport.total_posms.foundTableTalker + nationalReport.total_posms.newTableTalker| number }}</h5>
                                    <p class="mb-0 text-muted">All Table Talker </p>
                                </div>
                            </div>
                        </div>
                
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="card data-card">
                      <div class="card-body">
                          <div class="d-flex flex-row">
                              <div class="col-3 align-self-center">
                                <div class="round"><img src="./assets/images/logo.png"/></div>
                              </div>
                              <div class="col-9 align-self-center text-right">
                                  <div class="m-l-10">
                                      <h5 class="mt-0">{{nationalReport.total_posms.foundStickerCounter + nationalReport.total_posms.newStickerCounter | number }}</h5>
                                      <p class="mb-0 text-muted">All Sticker Counter</p>
                                  </div>
                              </div>
                          </div>
                
                      </div>
                      <!--end card-body-->
                  </div>
                  <!--end card-->
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="card data-card">
                      <div class="card-body">
                          <div class="d-flex flex-row">
                              <div class="col-3 align-self-center">
                                <div class="round"><img src="./assets/images/logo.png"/></div>
                              </div>
                              <div class="col-9 align-self-center text-right">
                                  <div class="m-l-10">
                                      <h5 class="mt-0">{{nationalReport.total_posms.foundBanners + nationalReport.total_posms.newBanners| number }}</h5>
                                      <p class="mb-0 text-muted">All Barner</p>
                                  </div>
                              </div>
                          </div>
                
                      </div>
                      <!--end card-body-->
                  </div>
                  <!--end card-->
                </div>
                </div>
      <div class="row">

        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4>POS Distribution</h4>
              <div id="posChartContainer" style="height: 500px; width: 100%; margin-left:auto;margin-right:auto;"></div>
            </div>
            <!--end card-body-->
            </div>
        </div>
      </div>
</div>
</div>
