<header id="topnav">
  <app-header></app-header>
  <!-- end topbar-main -->
  <!-- MENU Start -->
  <div class="navbar-custom">
      <div class="container-fluid">
          <div id="navigation">
              <!-- Navigation Menu-->
              <ul class="navigation-menu text-left">
                  <li class="has-submenu {{page == 'dashboard' ? 'active' : '' }}"><a [routerLink]="['dashboard']"><i class="fas fa-chart-line"></i>Dashboard</a></li>
                  <li class="has-submenu {{page == 'outlets' ? 'active' : '' }}"><a [routerLink]="['outlets']"><i class="fas fa-beer"></i>Outlet</a></li>
              </ul>
              <!-- End navigation menu -->
          </div>
          <!-- end #navigation -->
      </div>
      <!-- end container -->
  </div>
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

