<!-- Navigation Bar-->
<header id="topnav">
  <app-header></app-header>
  <!-- end topbar-main -->
  <!-- MENU Start -->
  <div class="navbar-custom">
      <div class="container-fluid">
          <div id="navigation">
              <!-- Navigation Menu-->
              <ul class="navigation-menu text-left">
                  <li class="{{page == 'dashboard' ? 'active' : ''}}"><a [routerLink]="['/admin/dashboard']"><i class="mdi mdi-airplay"></i>Dashboard</a></li>
                  <li class="{{page == 'pos' ? 'active' : ''}}"><a [routerLink]="['/admin/pos']"><i class="mdi mdi-airplay"></i>POS</a></li>
                  <li class="{{page == 'lidmovement' ? 'active' : ''}}"><a [routerLink]="['/admin/lidMovement']"><i class="ti-control-shuffle"></i>Crown Movement</a></li>
                  <li class="{{page == 'regions' ? 'active' : ''}}"><a [routerLink]="['/admin/regions']"><i class="ti-location-arrow"></i>Locations</a></li>
                  <li class="{{page == 'admins' ? 'active' : ''}}"><a [routerLink]="['/admin/admins']"><i class="typcn typcn-user-outline"></i>Users</a></li>
              </ul>
              <!-- End navigation menu -->
          </div>
          <!-- end #navigation -->
      </div>
      <!-- end container -->
  </div>
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper">

    <router-outlet></router-outlet>

</div>
