.wrapper{
  top: 119px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-custom{
      .container-fluid{
          #navigation{
            display:block;
            ul.navigation-menu{
              li{
                float:left;
              }
            }
          }
      }
  }

  .wrapper{
    .container-fluid{
      overflow: scroll;
      position: fixed;
      top: 120px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 0px;
    }

  }
}
