<div class="mt-5" style="text-align: center;position: fixed;top: 45%;width: 50%;left: 25%;" *ngIf="!dataLoaded">
  <h4 style="text-align: center;">{{loadingMessage}} ...</h4>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container-fluid">
<div *ngIf="dataLoaded">
<div class="row mt-3">
  <div class="col-lg-12">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-0">{{ time | date : 'short'}}</h3>
        </div>
        <!--end card-body-->
    </div>
    <!--end card-->
  </div>
</div>
<!-- end row-->

<div class="row ">
  <div class="col-lg-3 col-md-4">
    <div class="card data-card">
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="col-3 align-self-center">
                  <div class="round"><img src="./assets/images/logo.png"/></div>
                </div>
                <div class="col-9 align-self-center text-right">
                    <div class="m-l-10" alt="Half the sale in is the amount of crowns in the market.">
                        <h5 class="mt-0">{{nationalReport.sales.in_cases * 20 | number }}</h5>
                        <p class="mb-0 text-muted"> sale in Total #</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end card-body-->
    </div>
    <!--end card-->
</div>

  <div class="col-lg-3 col-md-4">
    <div class="card data-card">
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="col-3 align-self-center">
                  <div class="round"><img src="./assets/images/logo.png"/></div>
                </div>
                <div class="col-9 align-self-center text-right">
                    <div class="m-l-10">
                        <h5 class="mt-0">{{nationalReport.crowns.received_amount | number }}</h5>
                        <p class="mb-0 text-muted">Redemption</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end card-body-->
    </div>
    <!--end card-->
  </div>

  <div class="col-lg-3 col-md-4">
    <div class="card data-card">
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="col-3 align-self-center">
                    <div class="round"><img src="./assets/images/logo.png"/></div>
                </div>
                <div class="col-9 align-self-center text-right">
                    <div class="m-l-10">
                        <h5 class="mt-0">{{((nationalReport.sales.in_cases * 20) / 22700000) * 100 | number }} %</h5>
                        <p class="mb-0 text-muted">Sale in % of 22,700,000</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end card-body-->
    </div>
    <!--end card-->
  </div>
 
  <div class="col-lg-3 col-md-4">
    <div class="card data-card">
        <div class="card-body">
            <div class="d-flex flex-row">
                <div class="col-3 align-self-center">
                    <div class="round"><img src="./assets/images/logo.png"/></div>
                </div>
                <div class="col-9 align-self-center text-right">
                    <div class="m-l-10">
                        <h5 class="mt-0">{{(nationalReport.crowns.received_amount / (nationalReport.sales.out_cases * 10)) * 100 | number }} %</h5>
                        <p class="mb-0 text-muted">Redemption rate</p>
                    </div>
                </div>
            </div>

        </div>
        <!--end card-body-->
    </div>
    <!--end card-->
  </div>

</div>
<!-- end row-->

<div class="row">
  
 
    <div class="col-md-3">

        <div class="card data-card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-3 align-self-center">
                      <div class="round"><img src="./assets/images/logo.png"/></div>
                    </div>
                    <div class="col-9 align-self-center text-right">
                        <div class="m-l-10">
                            <h5 class="mt-0">{{nationalReport.distributionCenters.length | number }}</h5>
                            <p class="mb-0 text-muted"># Exchange Points </p>
                        </div>
                    </div>
                </div>

            </div>
            <!--end card-body-->
        </div>
        <!--end card-->

    </div>

    <div class="col-md-3">

        <div class="card data-card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="col-3 align-self-center">
                      <div class="round"><img src="./assets/images/logo.png"/></div>
                    </div>
                    <div class="col-9 align-self-center text-right">
                        <div class="m-l-10">
                            <h5 class="mt-0">{{nationalReport.active | number }}</h5>
                            <p class="mb-0 text-muted"># Active Exchange Points Today</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--end card-body-->
        </div>
        <!--end card-->

    </div>
  
    <div class="col-lg-3">
      <div class="card data-card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="col-3 align-self-center">
                    <div class="round"><img src="./assets/images/logo.png"/></div>
                  </div>
                  <div class="col-9 align-self-center text-right">
                      <div class="m-l-10">
                          <h5 class="mt-0">{{nationalReport.outlets.length | number}}</h5>
                          <p class="mb-0 text-muted"># All POC's </p>
                      </div>
                  </div>
              </div>
          </div>
          <!--end card-body-->
      </div>
      <!--end card-->
    </div>
  
    <div class="col-lg-3">
      <div class="card data-card">
          <div class="card-body">
              <div class="d-flex flex-row">
                  <div class="col-3 align-self-center">
                    <div class="round"><img src="./assets/images/logo.png"/></div>
                  </div>
                  <div class="col-9 align-self-center text-right">
                      <div class="m-l-10">
                          <h5 class="mt-0">{{nationalReport.outlets_active | number}}</h5>
                          <p class="mb-0 text-muted"># POC's Active</p>
                      </div>
                  </div>
              </div>
              <div class="progress mt-3" style="height:3px;">
                  <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': ((nationalReport.outlets_active/nationalReport.outlets.length) * 100) + '%' }" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          <!--end card-body-->
      </div>
      <!--end card-->
    </div>
  
</div>



<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
        <div class="card-body">
          <h4>Region Crown Distribution</h4>
          <div id="RegionChartContainer" style="height: 500px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>
        <!--end card-body-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4>Crown Movement</h4>
        <div id="chartContainer" style="height: 500px; width: 100%; margin-left:auto;margin-right:auto;"></div>
      </div>
      <!--end card-body-->
      </div>
  </div>
</div>


</div>
</div>
