<header id="topnav">
  <app-header></app-header>
  <!-- end topbar-main -->
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper" style="overflow:auto">
  <div class="container-fluid">
    <div class="page-body p-0">
      <table class="table mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Distribution Center</th>
                  <th>Date</th>
                  <th>Vehicle number</th>
                  <th>Boxes</th>
                  <th>Crowns</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dispatch of dispatchs; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{dispatch.distributionCenter?.name}}</td>
                  <td>{{dispatch.date | date : 'short' : tz }}</td>
                  <td>{{dispatch.vehicle_number|uppercase}}</td>
                  <td>{{dispatch.boxes.length}}</td>
                  <td>{{dispatch.verified_amount}}</td>
                  <td>
                    <button *ngIf="!dispatch.verified" type="button" class="pull-right btn btn-primary btn-sm" (click)="edit(dispatch)" data-toggle="modal" data-target="#dispatch-modal">Receive</button>
                    <button *ngIf="dispatch.verified" type="button" class="pull-right btn btn-success btn-sm" (click)="edit(dispatch)" data-toggle="modal" data-target="#dispatch-modal">Edit</button>
                    <button *ngIf="dispatch.verified" type="button" class="pull-right btn btn-danger btn-sm mr-1" (click)="return(dispatch)" >Return</button>
                  </td>
                </tr>
              </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="dispatch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Crowns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput3">Vehicle number</label>
            <span>{{selectedDispatch?.number}}</span>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Plant name</label>
            <select class="form-control">
              <option value="mbeya">mbeya</option>
              <option value="mbeya">mwanza</option>
              <option value="mbeya">ilala</option>
              <option value="mbeya">ubungo</option>
              <option value="mbeya">arusha</option>
              <option value="mbeya">dodoma</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Box Number</th>
                    <th>Crowns Amount</th>
                    <th></th>
                  </tr>
                </thead>
               <tbody>
                  <tr *ngFor="let box of boxes.controls; index as i">
                    <ng-container [formGroup]="box">
                    <td>{{i + 1}}</td>
                    <td><input type="text" class="form-control" placeholder="####" formControlName="number" disabled></td>
                    <td><input type="number" class="form-control" placeholder="0" formControlName="amount" (change)="refreshBoxTotal()"></td>
                    </ng-container>
                  </tr>
                </tbody>
                <tfoot>
                  <tr >
                    <td colspan="2"> Total</td>
                    <td>{{dispatch_total}}</td>

                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <button (click)="save()" class="btn btn-primary btn-block">Save</button>
      </div>
    </div>
  </div>
</div>
