
.page-header{
  border-bottom:1px solid #ccc ;
  height: 1px solid #ccc;
  ul.nav.nav-pills{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 20px;
    li{
      height: 50px;
      a{
        height: 50px;
        color: #444;
        padding: 10px;
        line-height: 30px;
        display: block;
      }
    }
    li.active{
      a{
        font-weight: bold;
        color:000;
        font-weight: bold;
        border-bottom: 1px solid #2980b9;
        display: block;
        margin-bottom: -1px;
        height: 51px;
        cursor: pointer;
      }
    }
  }

  button.new-dc {
    font-weight: bold;
    float: right;
    border: none;
    color: #fff;
    height: 40px;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 6px;
    background: #0652DD;
    span {
      color: #fff
    }
  }
  button.new-dc:hover {
    background-color: #1B1464;
    color: #fff;
    span {
      color: #EA2027
    }
  }
  
  .page-title{
    margin: 0px 10px;
    line-height: 50px;
    font-family: "Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    .bold{
      font-weight: bold;
    }
  }

}
.page-body{

}
.page-footer{
  display: none;
}

.modal-backdrop.show{
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .app-outlet{
    position: absolute;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;

  .page-header{
    display: none;
    h5{
      margin: 0px 10px;
      line-height: 50px;
    }
    button.new-dc {
      display: none;
    }

  }
  .page-body{
    position: absolute;
    top: 0px;
    bottom: 50px;
    margin-bottom: 50px;
    left: 0px;
    right: 0px;
    overflow: scroll;
    table.table{
      border-top: 0 !important;
    }
  }
  .page-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
    height: 50px;
    overflow: scroll;
    button.new-dc {
      width: 100%;
      margin-right: 0px;
      font-weight: bold;
      float: right;
      border-width: 1px 0px 0px 0px;
      border-color: #ccc;
      color: #444;
      height: 50px;
      display: block;
      padding: 10px 15px;
      line-height: 30px;
      cursor: pointer;
      span {
        color: #444
      }
    }

    button.new-dc:hover {
      background-color: rgba($color: #000000, $alpha: .02);
      color: #000;
      span {
        color: #2980b9
      }
    }
  }
}
}
