<div class="app-outlet">
<div class="page-header clearfix">

        <h4 class="page-title pull-left ml-3" style="float: left;">Region: {{region.name | titlecase}}</h4>
        <button type="button" class="new-dc" data-toggle="modal" data-animation="bounce" data-target="#new-outlet">New Outlet</button>
</div>
        <div class="page-body">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Type</th>
                <th class="border-top-0">Phone</th>
                <th class="border-top-0">Region</th>
                <th class="border-top-0">District</th>
                <th class="border-top-0">Town</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let outlet of outlets">
                <td><span class="ti-close" (click)="deleteOutlet(outlet)"></span></td>
                <td><span class="ti-pencil" (click)="editOutlet(outlet)" data-toggle="modal" data-animation="bounce" data-target="#new-outlet"></span></td>
                <td>{{outlet.name}}</td>
                <td>{{outlet.owner}}</td>
                <td>{{outlet.phone}}</td>
                <td>{{outlet.region.name}}</td>
                <td>{{outlet.district.name}}</td>
                <td>{{outlet.town}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      <div class="page-footer">
        <button type="button" class="new-dc" (click)="editOutlet(false)" data-toggle="modal" data-animation="bounce" data-target="#new-outlet">New Outlet</button>
      </div>
</div>

<div class="modal" id="new-outlet" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Outlet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body clearfix">

        <form [formGroup]="newOutletForm" class="form-horizontal">
          <div class="form-group">
            <label for="exampleFormControlInput3">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="outlet name"  formControlName="name">
          </div>
          <div class="row">
            <div class="col-md-12">
            <label >owner</label>
          </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control"  placeholder="first name"  formControlName="first_name">
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control"  placeholder="last name"  formControlName="last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Phone</label>
            <input type="tel" class="form-control" placeholder="+255 000 000 000"  formControlName="phone">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput4">District</label>
            <select class="form-control"  formControlName="district">
              <option value="{{district._id}}" *ngFor="let district of region.districts">{{district.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput5">Town</label>
            <input type="text" class="form-control"  formControlName="town">
          </div>
          <button (click)="createOutlet()" class="btn btn-primary btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
