
<div class="row">
  <div class="col-sm-3 regions-col">
    <div class="header">
      <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-animation="bounce" data-target="#new-region"><span class="ti-plus mr-1"></span> New Region</button>
    </div>
    <div class="body">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th></th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Zone</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let region of regions" (click)="selectRegion(region)" class="{{selectedRegion && selectedRegion._id == region._id ? 'active' : '' }}">
                <td></td>
                <td>{{region.name}}</td>
                <td>{{region.zone?.name}} </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="col-sm-9 main-col">
    <div class="header clearfix">
      <ul class="nav nav-pills">
        <li role="presentation" class="{{ selectedPage == 'dc' ? 'active' : '' }}"><a (click)="selectPage('dc')">Distribution Centers</a></li>
        <li role="presentation" class="{{ selectedPage == 'poc' ? 'active' : '' }}"><a  (click)="selectPage('poc')">Points Of Consuption</a></li>
        <li role="presentation" class="{{ selectedPage == 'district' ? 'active' : '' }}"><a  (click)="selectPage('district')">District</a></li>
        <li role="presentation" class="{{ selectedPage == 'setting' ? 'active' : '' }}"><a  (click)="selectPage('setting')">Settings</a></li>
      </ul>
      <button *ngIf="selectedPage == 'dc'" class="new-dc"  type="button" data-toggle="modal" data-animation="bounce" data-target="#new-dc" (click)="editDistributionCenter(false)"><span class="ti-plus mr-1"></span> New Distribution Center</button>
    </div>
    <div class="body" *ngIf="selectedPage == 'dc'">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr >
                <th class="border-top-0" width="20px" style="width: 20px;"></th>
                <th class="border-top-0" width="20px" style="width: 20px;"></th>
                <th class="border-top-0">#</th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Phone</th>
                <th class="border-top-0">Region</th>
                <th class="border-top-0">District</th>
                <th class="border-top-0">Area</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let distributionCenter of distributionCenters | orderBy : 'name'">
                <td width="20px" style="width: 20px;"><span class="ti-close" (click)="deleteDistributionCenter(distributionCenter)"></span></td>
                <td width="20px" style="width: 20px;"><span class="ti-pencil" (click)="editDistributionCenter(distributionCenter)" data-toggle="modal" data-animation="bounce" data-target="#new-dc"></span></td>
                <td>{{distributionCenter.number}}</td>
                <td>{{distributionCenter.name}}</td>
                <td>{{distributionCenter.phone}}</td>
                <td>{{selectedRegion.name}}</td>
                <td>{{distributionCenter.district?.name}}</td>
                <td>{{distributionCenter.area}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="body" *ngIf="selectedPage == 'poc'">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr >
              <th width="20px" style="width: 20px;">#</th>


              <th class="border-top-0">Name</th>
              <th class="border-top-0">Owner</th>
              <th class="border-top-0">Phone</th>
              <th class="border-top-0">Region</th>
              <th class="border-top-0">District</th>
              <th class="border-top-0">Town</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let outlet of outlets; let i = index">
              <td width="20px" style="width: 20px;">{{i+1}}</td>
              <td>{{outlet.name}}</td>
              <td>{{outlet.owner}}</td>
              <td>{{outlet.phone}}</td>
              <td>{{selectedRegion.name}}</td>
              <td>{{outlet.district.name}}</td>
              <td>{{outlet.town}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="selectedPage == 'district'">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr >
              <th class="border-top-0" width="20px" style="width: 20px;"></th>
              <th class="border-top-0">#</th>
              <th class="border-top-0">Name</th>
              <th class="border-top-0">Region</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let district of selectedRegion.districts; let i = index">
              <td width="20px" style="width: 20px;"><span class="ti-close" (click)="deleteDistrict(district)"></span></td>
              <td width="20px" style="width: 20px;">{{i + 1}}</td>
              <td>{{district.name}}</td>
              <td>{{selectedRegion.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="selectedPage == 'setting'">

    </div>
  </div>
</div>

<div class="modal" id="new-region" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New region</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="newRegionForm" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
            <label >name</label>
            <input type="text" class="form-control"  placeholder="region name"  formControlName="name">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label >Zone</label>
            <select class="form-control" formControlName="zone">
              <option  value="North East">North East</option>
              <option  value="North West">North West</option>
              <option  value="Central">Central</option>
              <option  value="South">South</option>
            </select>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
            <label >Supervisor</label>
            <select class="form-control"   formControlName="supervisor">
              <option *ngFor="let user of users" value="{{user._id}}">{{user.first_name}} {{user.last_name}}</option>
            </select>
            </div>
          </div>

          <button (click)="createRegion()" class="btn btn-primary btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new-dc" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New distribution center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="newDcForm" class="form-horizontal">
          <!--<div class="row">
            <div class="col-md-12">
            <label >Distribution Center Number</label>
            <input type="text" class="form-control" placeholder="number"  formControlName="number">
            </div>
          </div>-->
          <div class="row">
            <div class="col-md-12">
            <label >Name</label>
            <input type="text" class="form-control"  placeholder="distribution center name"  formControlName="name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <label >Phone</label>
            <input type="tel" class="form-control"  placeholder="+255 000 000 000"  formControlName="phone">
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-12">
            <label >Area</label>
            <input type="tel" class="form-control"  placeholder="area covered"  formControlName="area">
            </div>
          </div>

          <!--<div class="row mb-4">
            <div class="col-md-12">
            <label >District</label>
            <select class="form-control"   formControlName="district">
              <option *ngFor="let district of selectedRegion?.districts" value="{{district._id}}">{{district.name}}</option>
            </select>
            </div>
          </div>-->

          <!--<div class="row mb-4">
            <div class="col-md-12">
            <label >Supervisor</label>
            <select class="form-control"   formControlName="supervisor">
              <option *ngFor="let user of users" value="{{user._id}}">{{user.first_name}} {{user.last_name}}</option>
            </select>
            </div>
          </div>-->

          <button (click)="createDistributionCenter()" class="btn btn-primary btn-block">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
