table.table tbody tr td {
  cursor: pointer;
}

table.table tbody tr.active td {
  color: blue;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.02);
}
/*# sourceMappingURL=regions.component.css.map */