<div class="page-header clearfix pt-3 pl-3">
  <h4>Region: {{region.name | titlecase}}</h4>
</div>
<div class="row">
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Redeems</th>
        <th>Crowns Redeemed</th>
        <th>Dispatches</th>
        <th>Crowns Dispatched</th>
        <th>Crowns In Store</th>
        <th>Sale In</th>
        <th>Sale Out</th>
        <th>Stock</th>
        <th>Active Today</th>
        <th>Temps</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let distributionCenter of region.distributionCenters">
        <td>{{distributionCenter.name}}</td>
        <td>{{distributionCenter.receives.length | number}}</td>
        <td>{{distributionCenter.receives_amount | number}}</td>
        <td>{{distributionCenter.dispatchs.length | number}}</td>
        <td>{{distributionCenter.dispatchs_amount | number}}</td>
        <td>{{distributionCenter.receives_amount - distributionCenter.dispatchs_amount | number}}</td>
        <td>{{distributionCenter.sale_in_cases | number}}</td>
        <td>{{distributionCenter.sale_out_cases | number}}</td>
        <td>{{distributionCenter.sale_in_cases - distributionCenter.sale_out_cases | number}}</td>
        <td>{{distributionCenter.active ? 'yes' : 'no'}}</td>
        <td>{{distributionCenter.terms.length | number}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
