<div class="auth-page">
<div class="wrapper-page">

  <div class="text-center mt-2 mb-5">
    <a  class="logo logo-admin"><img src="assets/images/logo.png" height="70" alt="logo"></a>
  </div>

    <div class="card">
        <div class="card-body">

            <div class="p-3">
                <!--<form [formGroup]="loginForm" class="form-horizontal" *ngIf="adminExist" >-->
                <form [formGroup]="loginForm" class="form-horizontal">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"  formControlName="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput2">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2"  formControlName="password">
                  </div>
                  <button (click)="login()" class="btn btn-primary btn-block">Sign In</button>
                </form>
                <!--<form [formGroup]="registerForm" class="form-horizontal" *ngIf="!adminExist">
                  <div class="form-group">
                    <label for="exampleFormControlInput3">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com"  formControlName="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput4">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput4"  formControlName="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput5">Repeat Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput5"  formControlName="retype_password">
                  </div>
                  <button (click)="register()" class="btn btn-primary btn-block">Register</button>
                </form>-->
            </div>
        </div>
    </div>
</div>
</div>
