<div class="mt-5" style="text-align: center;position: fixed;top: 45%;width: 50%;left: 25%;" *ngIf="!dataLoaded">
  <h4 style="text-align: center;">{{loadingMessage}} ...</h4>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="row" *ngIf="dataLoaded && !selectedDc && !selectedOutlet ">
  <div class="col-sm-3 regions-col">
    <div class="header">
    </div>
    <div class="body">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th></th>
                <th class="border-top-0">Name</th>
                <!--<th class="border-top-0">Supervisor</th>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let region of nationalReport.regions" (click)="selectRegion(region)" class="{{selectedRegion._id == region._id ? 'active' : '' }}">
                <td></td>
                <td>{{region.name}}</td>
                <!--<td>{{region.supervisor?.first_name}} {{region.supervisor?.last_name}}</td>-->
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-9 main-col" >


    <div class="header clearfix">
      <ul class="nav nav-pills">
        <li role="presentation" class="{{ region_page == 'summary' ? 'active' : '' }}"> <a  (click)="select_region_page('summary')">Summary</a> </li>
        <li role="presentation" class="{{ region_page == 'Dc' ? 'active' : '' }}"> <a  (click)="select_region_page('Dc')">Distribution Center</a> </li>
        <li role="presentation" class="{{ region_page == 'outlets' ? 'active' : '' }}"> <a  (click)="select_region_page('outlets')">Point of consumption</a> </li>
      </ul>
    </div>

    <div class="body" *ngIf="region_page == 'summary' && !selectedDc">
      <table class="table">
        <tbody>
          <tr>
            <th>Crowns Redeemed</th>
            <td>{{selectedRegion.receives_amount | number}}</td>
          </tr>
          <tr>
            <th>Crowns Dispatched</th>
            <td>{{selectedRegion.dispatchs_amount | number}}</td>
          </tr>
          <tr>
            <th>Crowns Received at plant</th>
            <td>{{selectedRegion.verified_amount | number}}</td>
          </tr>
          <tr>
            <th>Crown Dispatch Variance</th>
            <td>{{selectedRegion.dispatchs_amount - selectedRegion.verified_amount | number}}</td>
          </tr>
          <tr>
            <th>Crown Balance in Exchange Points</th>
            <td>{{selectedRegion.receives_amount - selectedRegion.dispatchs_amount | number}}</td>
          </tr>
          <tr>
            <th>Cases Sale in</th>
            <td>{{selectedRegion.sales.in_cases  | number}}</td>
          </tr>
          <tr>
            <th>Cases Sale Out</th>
            <td>{{selectedRegion.sales.out_cases  | number}}</td>
          </tr>
          <tr>
            <th>Cases Stock Balance</th>
            <td>{{selectedRegion.sales.in_cases - selectedRegion.sales.out_cases  | number}}</td>
          </tr>
          <tr>
            <th>Poc's Active Today</th>
            <td>{{selectedRegion.active}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body" *ngIf="region_page == 'Dc' && !selectedDc">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Redeemes</th>
          <th>Crowns Redeemed</th>
          <th>% crowns exchanged by retail</th>
          <th>Number of Dispatches</th>
          <th>Crowns Dispatched</th>
          <th>Crowns In Store</th>
          <th>Cases Sale In</th>
          <th>Cases Sale Out</th>
          <th>Stock</th>
          <th>Active Today</th>
          <th>Temps</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let distributionCenter of selectedRegion.distributionCenters">
          <td>{{distributionCenter.name}}</td>
          <td>{{distributionCenter.receives.length | number}}</td>
          <td>{{distributionCenter.receives_amount | number}}</td>
          <td>{{(distributionCenter.receives_amount / (distributionCenter.sale_out_cases * 20)) * 100 | number}}% </td>
          <td>{{distributionCenter.dispatchs.length | number}}</td>
          <td>{{distributionCenter.dispatchs_amount | number}}</td>
          <td>{{distributionCenter.receives_amount - distributionCenter.dispatchs_amount | number}}</td>
          <td>{{distributionCenter.sale_in_cases | number}}</td>
          <td>{{distributionCenter.sale_out_cases | number}}</td>
          <td>{{distributionCenter.sale_in_cases - distributionCenter.sale_out_cases | number}}</td>
          <td>{{distributionCenter.active ? 'yes' : 'no'}}</td>
          <td>{{distributionCenter.terms.length | number}}</td>
          <td><button class="btn btn-primary" (click)="selectDc(distributionCenter)">View</button></td>
        </tr>
      </tbody>
    </table>

    </div>

    <div class="body" *ngIf="region_page == 'outlets' && !selectedOutlet">
    <table class="table" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Crown Exchanges</th>
          <th>Crowns Exchanged</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let outlet of selectedRegion.outlets">
          <td>{{outlet.name}}</td>
          <td>{{outlet.receives.length | number}}</td>
          <td>{{outlet.receives_amount | number}}</td>
          <td><button class="btn btn-primary" (click)="selectOutlet(outlet)">View</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="selectedDc">
  <div class="col-sm-3 regions-col">
    <div class="header">
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="selectDc(false)"><span class="ti-arrow-left mr-2"></span> Back</button>
    </div>
    <div class="body">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th></th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Supervisor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let distributionCenter of selectedRegion.distributionCenters" (click)="selectDc(distributionCenter)" class="{{selectedDc._id == distributionCenter._id ? 'active' : '' }}">
                <td></td>
                <td>{{distributionCenter.name}}</td>
                <td>{{distributionCenter.supervisor?.first_name}} {{distributionCenter.supervisor?.last_name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-9 main-col">

    <div class="header clearfix">
      <h4 class="page-title pl-4 ng-binding pull-left" style="float: left;" >Distribution Center: <span class="bold">{{selectedDc.name}}</span> </h4>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="{{ dc_page == 'summary' ? 'active' : '' }}"> <a  (click)="select_dc_page('summary')">Summary</a> </li>
        <li role="presentation" class="{{ dc_page == 'dispatchs' ? 'active' : '' }}"> <a  (click)="select_dc_page('dispatchs')">Dispatched Crowns</a> </li>
        <li role="presentation" class="{{ dc_page == 'receives' ? 'active' : '' }}"> <a  (click)="select_dc_page('receives')">Received Crowns</a> </li>
        <li role="presentation" class="{{ dc_page == 'sale-in' ? 'active' : '' }}"> <a  (click)="select_dc_page('sale-in')">Sale In</a> </li>
        <li role="presentation" class="{{ dc_page == 'sale-out' ? 'active' : '' }}"> <a  (click)="select_dc_page('sale-out')">sale Out</a> </li>

      </ul>
    </div>

    <div class="body p-0" *ngIf="dc_page == 'summary'">
      <table class="table">
        <tbody>
          <tr>
            <th>Crowns Redeemed</th>
            <td>{{selectedDc.receives_amount | number}}</td>
          </tr>
          <tr>
            <th>Crowns Dispatched</th>
            <td>{{selectedDc.dispatchs_amount | number}}</td>
          </tr>
          <tr>
            <th>Crowns Received at plant</th>
            <td>{{selectedDc.verified_amount | number}}</td>
          </tr>
          <tr>
            <th>Crown Dispatch Variance</th>
            <td>{{selectedDc.dispatchs_amount - selectedDc.verified_amount | number}}</td>
          </tr>
          <tr>
            <th>Crown Balance at Distribution Center</th>
            <td>{{selectedDc.receives_amount - selectedDc.dispatchs_amount | number}}</td>
          </tr>
          <tr>
            <th>Cases Sale in</th>
            <td>{{selectedDc.sale_in_cases | number}}</td>
          </tr>
          <tr>
            <th>Cases Sale Out</th>
            <td>{{selectedDc.sale_out_cases | number}}</td>
          </tr>
          <tr>
            <th>Cases Stock Balance</th>
            <td>{{selectedDc.sale_in_cases - selectedDc.sale_out_cases | number}}</td>
          </tr>
          <tr>
            <th>Active</th>
            <td>{{selectedDc.active ? 'yes' : 'no'}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Phone</th>
          </tr>
          <tr *ngFor="let term of selectedDc.terms">
            <td>{{term.first_name | titlecase}} {{term.last_name | titlecase}}</td>
            <td>{{term.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body p-0" *ngIf="dc_page == 'receives'">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Outlet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receive of selectedDc.receives">
          <td>{{receive.date| date : 'short' : tz}}</td>
          <td>{{receive.amount | number}}</td>
          <td>{{receive.outlet.name}}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="body p-0" *ngIf="dc_page == 'dispatchs'">
    <table class="table">
      <thead>
        <tr>
          <th>Row labels</th>
          <th>Vehicle Plate Number</th>
          <th>Number Boxes</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dispatch of selectedDc.dispatchs">
          <td>{{dispatch.date | date : 'short' : tz}}</td>
          <td>{{dispatch.vehicle_number}}</td>
          <td>{{dispatch.boxes.length | number}}</td>
          <td>{{dispatch.verified ? 'verified' : 'pending'}}</td>
          <td>{{dispatch.amount | number}}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="body p-0" *ngIf="dc_page == 'sale-in'">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Cases</th>
            <th>Bottles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of selectedDc.sale_in">
            <td>{{sale.date | date : 'short' : tz}}</td>
            <td>{{sale.cases | number}}</td>
            <td>{{sale.cases * 20 | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body p-0" *ngIf="dc_page == 'sale-out'">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Cases</th>
              <th>Bottles</th>
              <!--<th>Outlet</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of selectedDc.sale_out">
              <td>{{sale.date}}</td>
              <td>{{sale.cases | number}}</td>
              <td>{{sale.cases * 20 | number}}</td>
              <!--<td>{{sale.outlet?.name | number}}</td>-->
            </tr>
          </tbody>
        </table>
    </div>

  </div>
</div>
<div class="row"  *ngIf="selectedOutlet">
  <div class="col-sm-3 regions-col">
    <div class="header">
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="selectOutlet(false)"><span class="ti-arrow-left mr-2"></span> Back </button>
    </div>
    <div class="body">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th></th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Supervisor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let outlet of selectedRegion.outlets" (click)="selectOutlet(outlet)" class="{{selectedOutlet._id == outlet._id ? 'active' : '' }}">
                <td></td>
                <td>{{outlet.name}}</td>
                <td>{{outlet.owner}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-9 main-col">
    <div class="header">


      <h4 class="page-title pl-4 ng-binding pull-left" style="float: left;" >Point of consumption: <span class="bold">{{selectedOutlet.name}}</span> </h4>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="{{ outlet_page == 'summary' ? 'active' : '' }}"> <a  (click)="select_outlet_page('summary')">Summary</a> </li>
        <li role="presentation" class="{{ outlet_page == 'posm' ? 'active' : '' }}"> <a  (click)="select_outlet_page('posm')">Posms</a> </li>
        <li role="presentation" class="{{ outlet_page == 'giveaways' ? 'active' : '' }}"> <a  (click)="select_outlet_page('giveaways')">Giveaways</a> </li>
        <!--<li role="presentation" class="{{ outlet_page == 'receives' ? 'active' : '' }}"> <a  (click)="select_outlet_page('receives')">Received Crowns</a> </li>
        <li role="presentation" class="{{ outlet_page == 'sale-in' ? 'active' : '' }}"> <a  (click)="select_outlet_page('sale-in')">Sell In</a> </li> -->
      </ul>
    </div>


    <div class="body" *ngIf="outlet_page == 'summary'">
      <table class="table">
        <tbody>
          <tr>
            <th colspan="2"><h3 style="margin-bottom: 0px;">Sales</h3></th>
          </tr>
          <tr *ngFor="let sale of selectedOutlet.total_sales">
            <td>{{sale.name}} ({{sale.sku}}) sales</td>
            <td>{{sale.amount | number}}</td>
          </tr>
          <tr>
            <th colspan="2"><h3 style="margin-bottom: 0px;">Give Aways</h3></th>
          </tr>
          <tr *ngFor="let giveaway of selectedOutlet.total_giveaways">
            <td>{{giveaway.name}} ({{giveaway.sku}}) giveaways</td>
            <td>{{giveaway.amount | number}}</td>
          </tr>
          <tr>
            <th colspan="2"><h3 style="margin-bottom: 0px;">Posms</h3></th>
          </tr>
          <tr>
            <td>Paper Posters</td>
            <td>{{selectedOutlet.total_posms.paperposter | number}}</td>
          </tr>
          <tr>
            <td>ABS board</td>
            <td>{{selectedOutlet.total_posms.abs | number}}</td>
          </tr>
          <tr>
            <td>Bunting</td>
            <td>{{selectedOutlet.total_posms.bunting  | number}}</td>
          </tr>
          <tr>
            <td>Shelf Strips</td>
            <td>{{selectedOutlet.total_posms.shelfstrip  | number}}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="body" *ngIf="outlet_page == 'receives'">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <!--<th>Distribution Center</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receive of selectedOutlet.receives">
          <td>{{receive.date | date : 'short' : tz}}</td>
          <td>{{receive.amount | number}}</td>
          <!--<td>{{receive.distributionCenter?.name}}</td>-->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body" *ngIf="outlet_page == 'sale-in'">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Cases</th>
            <th>Bottles</th>
            <th>Outlet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of selectedOutlet.sale_in">
            <td>{{sale.date | date : 'short' : tz}}</td>
            <td>{{sale.cases | number}}</td>
            <td>{{sale.cases * 20 | number}}</td>
            <td>{{sale.outlet.name | titlecase }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body" *ngIf="outlet_page == 'giveaways'">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let giveaway of selectedOutlet.giveaways">
          <td>{{giveaway.date | date : 'short' : tz}}</td>
          <td>{{giveaway.product.name | number}}</td>
          <td>{{giveaway.amount | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="body" *ngIf="outlet_page == 'posm'">
      <table class="table">
        <thead>
          <tr>
            <th rowspan="2">Date</th>
            <th colspan="2">Poster</th>
            <th colspan="2">Table Talker</th>
            <th colspan="2">Sticker Counter</th>
            <th colspan="2">Banners</th>
            <th colspan="2">Board Cut Out</th>
      
          </tr>
          <tr>
      
            <th>Found</th>
            <th>New</th>
            <th>Found</th>
            <th>New</th>
            <th>Found</th>
            <th>New</th>
            <th>Found</th>
            <th>New</th>
            <th>Found</th>
            <th>New</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let posm of selectedOutlet.posms">
          <td>{{posm.date | date : 'short' : tz}}</td>
          <td>{{posm.foundPoster | number}}</td>
          <td>{{posm.newPoster | number}}</td>
          <td>{{posm.foundTableTalker | number}}</td>
          <td>{{posm.newTableTalker | number}}</td>
          <td>{{posm.foundStickerCounter | number}}</td>
          <td>{{posm.newStickerCounter | number}}</td>
          <td>{{posm.foundBanners | number}}</td>
          <td>{{posm.newBanners | number}}</td>
          <td>{{posm.foundBoardCutOut | number}}</td>
          <td>{{posm.newBoardCutOut | number}}</td>
   
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
