html, body {
  min-height: 100%;
  background: #fff;
}
body { margin: 0;  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important}
.mat-typography h5{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important
}
.mat-radio-outer-circle {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
.mat-radio-outer-circle {
  border-width: 1px !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:blue;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  background:blue;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color:#fff;
}
.mat-radio-label-content {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color:
  #000;
}

.mat-checkbox {

  font-family: "Open Sans", sans-serif;

}
.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  color: #000;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}
.mat-checkbox-frame {
  border-width: 1px !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {

  background-color:blue;

}

.mat-form-field {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  min-height: calc(3.375rem + 2px);
  padding: 0.9875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
  background-color:#fff;
  background-clip: padding-box;
  border: 1px solid#e5e5e5;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  .mat-form-field-wrapper {

    padding-bottom: 0px ;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {



}

.mat-form-field-appearance-legacy .mat-form-field-label{
  top: .8em
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  border-top: 0px;
  padding-top: 0px;
  padding: 0px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color:transparent;
}
.mat-chip-list-wrapper {

}
.mat-chip.mat-standard-chip {
  background-color:
#e0e0e0;
color:
  rgba(0,0,0,.87);
}

.mat-form-field.mat-focused.mat-form-field-ripple {
  top: 0;
  height: 0px;
  overflow: hidden;
  background: transparent;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
}

.mat-option-text {
  font-family: "Open Sans", sans-serif;
}
.mat-select-value-text {
  font-family: "Open Sans", sans-serif;
}
.mat-form-field-ripple{
  display: none;
}

.user-menu.dropdown-menu {
  right: 0;
  left:auto;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  display: none;
}

.bb{
  border-bottom: 1px solid #ddd;
}

.bt{
  border-top: 1px solid #ddd;
}

.bl{
  border-left: 1px solid #ddd;
}

.br{
  border-right: 1px solid #ddd;
}

.table.excel-table{
  thead{
    tr{
      th{
        padding: 7px;
        font-weight: normal;
        font-size: .9em;
        font-weight: bold;
        background: rgb(248, 248, 248);
        color: #000;
      }
    }
  }
  tbody{
    tr{
      td:first-child{
        font-size:.9em;
        width: 40px;
        color: #000;
        background: rgb(248, 248, 248);
        border-right: 1px solid #ddd;
        text-align: center;
      }
      td{
        padding: 7px;
        background: #fff;
        font-size:.9em;
        input{
          border: none;
          padding: 7px;
          margin: -7px;
          background: #e5e5e5;
          width: 100%;
        }
      }
    }
  }
}

body{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  .wrapper{
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 61px;
    overflow: auto;
    padding: 0px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .wrapper{
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    padding: 0px;
  }
  footer.footer{
    display: none;
  }
}

typography h3 {
  font: 400 16px/28px "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.topbar-main{
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.modal-backdrop.show{
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  content: "";
  display: none !important;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  padding: 0 !important;
}


element {
}
.mat-form-field {
  padding: 0 !important;
}

.mat-form-field-label-wrapper {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 1em;
  margin-top: 0px !important;
}


#topnav {
  .navbar-custom {
    background-color: #7d131b !important;
    box-shadow: none !important;
    padding-left: 0;
    border-bottom: none;

    ul.navigation-menu{
      li{
        a{
          color: #eee;
          font-weight: bold;
          i{
            color: #eee;
            display: inline-block;
            font-size: 18px;
            line-height: 19px;
            margin-left: 3px;
            margin-right: 10px;
            text-align: center;
            vertical-align: middle;
            width: 25px;
            height: 19px;
            background-color: transparent;
            border-radius: 3px;
          }
        }
      }
      li.active{
        a{
          color: #fff;
          i{
              color: blue;
          }
        }
        border-bottom: 2px solid blue;
      }
      li:hover{
        a{
          color: #fff;
          i{
              color: #fff;
          }
        }
      }

    }
  }
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

.modal-dialog {
  margin: 130px auto;
}


