<header id="topnav">
  <app-header></app-header>
  <!-- end topbar-main -->
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
  <div class="container-fluid">
    <div class="page-header clearfix">
      <ul class="nav nav-pills">
        <li role="presentation" class="{{ selectedPage == 'received' ? 'active' : '' }}"><a (click)="selectPage('received')">Received</a></li>
        <!--<li role="presentation" class="{{ selectedPage == 'dispatched' ? 'active' : '' }}"><a  (click)="selectPage('dispatched')">Dispatched</a></li>-->
        <li role="presentation" class="{{ selectedPage == 'sale-in' ? 'active' : '' }}"><a  (click)="selectPage('sale-in')">Sell In</a></li>
        <li role="presentation" class="{{ selectedPage == 'sale-out' ? 'active' : '' }}"><a  (click)="selectPage('sale-out')">Sell Out</a></li>
        <li role="presentation" class="{{ selectedPage == 'outlet' ? 'active' : '' }}"><a  (click)="selectPage('outlet'); selectOutlet(null)">POS</a></li>
      </ul>
      <button *ngIf="selectedPage == 'received'" class="new-dc"  type="button" data-toggle="modal" data-target="#receive-modal"><span class="ti-plus mr-1"></span> Receive</button>
      <button *ngIf="selectedPage == 'dispatched'" class="new-dc"  type="button" data-toggle="modal" data-target="#dispatch-modal" ><span class="ti-plus mr-1"></span> Dispatch</button>
      <button *ngIf="selectedPage == 'sale-in'" class="new-dc"  type="button" data-toggle="modal" data-target="#sale-in-modal" ><span class="ti-plus mr-1"></span> Sell In</button>
      <button *ngIf="selectedPage == 'sale-out'" class="new-dc"  type="button" data-toggle="modal" data-target="#sale-out-modal" ><span class="ti-plus mr-1"></span> Sell Out</button>
      <button *ngIf="selectedPage == 'outlet' && !selectedOutlet" class="new-dc"  type="button" data-toggle="modal" data-target="#new-outlet" ><span class="ti-plus mr-1"></span> Outlets </button>
      <button *ngIf="selectedPage == 'outlet' && selectedOutlet" class="new-dc"  type="button" data-toggle="modal" data-target="#posm-modal" ><span class="ti-plus mr-1"></span> Add posm </button>


    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'received'">
            <table class="table mb-0 ">
              <thead>
                <tr>
                  <th>#</th>
                  <th>date</th>
                  <th>Point of Consuption</th>
                  <th>Bottle tops</th>
                  <th>Cases</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lid of receivedLids; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{lid.date | date : 'short' : tz}}</td>
                  <td>{{lid.outlet?.name}}</td>
                  <td>{{lid.amount}}</td>
                  <td>{{(lid.amount/162)}}</td>
                  <th>{{lid.status}}</th>
                  <td><span class="ti-close" (click)="deleteLidMovement(lid)"></span></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'dispatched'">
            <table class="table mb-0">
              <thead>
                <tr>

                  <th>#</th>
                  <th>Date</th>
                  <th>Vehicle Number</th>
                  <th>Bottle tops</th>
                  <th>Cases</th>
                  <th>Status</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lid of dispatchedLids; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{lid.date | date : 'short' : tz}}</td>
                  <td>{{lid.vehicle_number | uppercase}}</td>
                  <td>{{lid.amount}}</td>
                  <td>{{lid.amount/162}}</td>
                  <td>{{lid.status}}</td>
                  <td><span *ngIf="!lid.verified" class="ti-close" (click)="deleteLidMovement(lid)"></span></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'sale-in'">
            <table class="table mb-0">
              <thead>
                <tr>

                  <th>#</th>
                  <th>Date</th>
                  <th>Cases</th>
                  <th>Bottles</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sale of sales.in; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{sale.date | date : 'short' : tz}}</td>
                  <td>{{sale.cases}}</td>
                  <td>{{sale.cases * 20}}</td>
                  <td><span class="dripicons-cross" (click)="deleteSale(sale)" ></span></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'sale-out'">
            <table class="table mb-0">
              <thead>
                <tr>

                  <th>#</th>
                  <th>Date</th>
                  <th>Outlet</th>
                  <th>Cases</th>
                  <th>Bottles</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sale of sales.out; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{sale.date | date : 'short' : tz}}</td>
                  <td>{{sale.outlet?.name | uppercase}}</td>
                  <td>{{sale.cases}}</td>
                  <td>{{sale.cases * 20}}</td>
                  <td><span class="dripicons-cross" (click)="deleteSale(sale)" ></span></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'outlet' && selectedOutlet">
      <table class="table mb-0 ">
        <thead>
          <tr>
            <th rowspan="2">#</th>
            <th rowspan="2" style="border-right: 1px solid #dee2e6;">date</th>
            <th colspan="2" style="border-right: 1px solid #dee2e6;">Poster</th>
            <th colspan="2" style="border-right: 1px solid #dee2e6;">TableTalker</th>
            <th colspan="2" style="border-right: 1px solid #dee2e6;">StickerCounter</th>
            <th colspan="2" style="border-right: 1px solid #dee2e6;">Banners</th>
            <th colspan="2" >BoardCutOut</th>
            <th rowspan="2" style="border-left: 1px solid #dee2e6;"></th>
          </tr>
          <tr>
           
            <th>old</th>
            <th style="border-right: 1px solid #dee2e6;">new</th>
            <th>old</th>
            <th style="border-right: 1px solid #dee2e6;">new</th>
            <th>old</th>
            <th style="border-right: 1px solid #dee2e6;">new</th>
            <th>old</th>
            <th style="border-right: 1px solid #dee2e6;">new</th>
            <th>old</th>
            <th>new</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let posm of posms; let i = index">
            <td>{{i + 1}}</td>
            <td>{{posm.date | date : 'short' : tz}}</td>

            <td>{{posm.foundPoster}}</td>
            <td>{{posm.newPoster}}</td>
            <td>{{posm.foundTableTalker}}</td>
            <td>{{posm.newTableTalker}}</td>
            <td>{{posm.foundStickerCounter}}</td>
            <td>{{posm.newStickerCounter}}</td>
            <td>{{posm.foundBanners}}</td>
            <td>{{posm.newBanners}}</td>
            <td>{{posm.foundBoardCutOut}}</td>
            <td>{{posm.newBoardCutOut}}</td>
        
            <td><span class="ti-close"  (click)="deletePosm(posm)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page-body p-0" *ngIf="selectedPage == 'outlet' && !selectedOutlet">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="border-top-0">Name</th>
            <th class="border-top-0">Owner</th>
            <th class="border-top-0">Phone</th>
            <th class="border-top-0">Region</th>
            <th class="border-top-0">District</th>
            <th class="border-top-0">Ward</th>
            <!--<th class="border-top-0">Classification</th>-->
            <th class="border-top-0">GPS</th>
            <!--<th class="border-top-0">User</th>-->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let outlet of outlets | orderBy: 'name'" >
            <td><span class="ti-close"  (click)="deleteOutlet(outlet)"></span></td>
            <td><span class="ti-pencil" (click)="editOutlet(outlet)" data-toggle="modal" data-animation="bounce" data-target="#new-outlet"></span></td>
            <td ><a >{{outlet.name}}</a></td>
            <td><a >{{outlet.owner | titlecase}}</a></td>
            <td><a >{{outlet.phone}}</a></td>
            <td><a >{{outlet.region?.name}}</a></td>
            <td><a >{{outlet.district?.name}}</a></td>
            <td><a >{{outlet.ward?.name}}</a></td>
            <!--<td><span *ngFor="let classification of outlet.classifications">{{classification.name}}, </span></td>-->
            <td><a >{{outlet.latitude}}|{{outlet.longitude}}</a></td>
            <!--<td><a >{{outlet.user?.first_name | titlecase}} {{outlet.user?.last_name | titlecase}}</a></td>-->
            <td><a class="btn btn-small btn-primary" (click)="selectOutlet(outlet)">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page-footer">
      <button *ngIf="selectedPage == 'received'" class="new-dc"  type="button" data-toggle="modal" data-target="#receive-modal"><span class="ti-plus mr-1"></span> Receive</button>
      <button *ngIf="selectedPage == 'dispatched'" class="new-dc"  type="button" data-toggle="modal" data-target="#dispatch-modal" ><span class="ti-plus mr-1"></span> Dispatch</button>
      <button *ngIf="selectedPage == 'sale-in'" class="new-dc"  type="button" data-toggle="modal" data-target="#sale-in-modal" ><span class="ti-plus mr-1"></span> Sell In</button>
      <button *ngIf="selectedPage == 'sale-out'" class="new-dc"  type="button" data-toggle="modal" data-target="#sale-out-modal" ><span class="ti-plus mr-1"></span> Sell Out</button>
    </div>

  </div>
</div>



<div class="modal" id="dispatch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dispatch Crowns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="DispatchForm" class="form-horizontal">

          <div class="form-group">
            <label>Region</label>
            <select class="form-control" [(ngModel)]="regionModel" (change)="selectRegion()" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let region of regions" value="{{region._id}}">{{region.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Distribution Center</label>
            <select formControlName="distributionCenter" class="form-control" >
              <option *ngFor="let distributionCenter of distributionCenters" value="{{distributionCenter._id}}">{{distributionCenter.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Vehicle number</label>
            <input type="text" class="form-control"   formControlName="vehicle_number">
          </div>

          <!--<div class="form-group">
            <label for="exampleFormControlInput3">Crowns amount</label>
            <input type="number" class="form-control"   formControlName="amount">

          </div>-->
          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker1"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Box Number</th>
                    <th>Crowns Amount</th>
                    <th></th>
                  </tr>
                </thead>
               <tbody formArrayName="boxes">
                  <tr *ngFor="let box of boxes.controls; index as i"  [formGroupName]="i">
                    <td>{{i + 1}}</td>
                    <td><input type="text" class="form-control" placeholder="####" formControlName="number"></td>
                    <td><input type="number" class="form-control" placeholder="0" formControlName="amount" (change)="refreshBoxTotal()"></td>
                    <td><button class="btn btn-danger" (click)="removeBox(i)"><span class="ti-close"></span></button></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr >
                    <td colspan="2"> Total</td>
                    <td>{{dispatch_total}}</td>
                    <td><button class="btn btn-primary" (click)="addBox()"><span class="ti-plus"></span></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <button (click)="dispatch()" class="btn btn-primary btn-block">Dispatch</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="receive-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Receive lids</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="ReceiveForm" class="form-horizontal">

          <div class="form-group">
            <label>Region</label>
            <select class="form-control" [(ngModel)]="regionModel" (change)="selectRegion()" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let region of regions | orderBy: 'name'" value="{{region._id}}">{{region.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Distribution Center</label>
            <select formControlName="distributionCenter" class="form-control" >
              <option *ngFor="let distributionCenter of distributionCenters | orderBy: 'name'" value="{{distributionCenter._id}}">{{distributionCenter.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Crowns amount</label>
            <input type="number" class="form-control"   formControlName="amount">
            <small>Please enter a number divisible by {{lidNumberDividend}}.  {{lidNumberDividend}} is the lids enough to buy one crate of beer which is {{cratePrice}}.</small>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker2"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <button (click)="receive()" class="btn btn-primary btn-block">Receive</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="sale-in-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Receive Cases</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="SellInForm" class="form-horizontal">

          <div class="form-group">
            <label>Region</label>
            <select class="form-control" [(ngModel)]="regionModel" (change)="selectRegion()" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let region of regions | orderBy: 'name'" value="{{region._id}}">{{region.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Distribution Center</label>
            <select formControlName="distributionCenter" class="form-control" >
              <option *ngFor="let distributionCenter of distributionCenters | orderBy: 'name'" value="{{distributionCenter._id}}">{{distributionCenter.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Cases</label>
            <input type="number" class="form-control"   formControlName="cases">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker3"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <button (click)="saleIn()" class="btn btn-primary btn-block">Receive</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="sale-out-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sold Cases</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="SellOutForm" class="form-horizontal">

          <!--<div class="form-group">
            <label>Outlet</label>
            <select formControlName="outlet" class="form-control">
              <option *ngFor="let outlet of outlets" value="{{outlet._id}}">{{outlet.name}}</option>
            </select>
          </div>-->

          <div class="form-group">
            <label>Region</label>
            <select class="form-control" [(ngModel)]="regionModel" (change)="selectRegion()" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let region of regions | orderBy: 'name'" value="{{region._id}}">{{region.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Distribution Center</label>
            <select formControlName="distributionCenter" class="form-control" >
              <option *ngFor="let distributionCenter of distributionCenters | orderBy: 'name'" value="{{distributionCenter._id}}">{{distributionCenter.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Cases</label>
            <input type="number" class="form-control"   formControlName="cases">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker4"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <button (click)="saleOut()" class="btn btn-primary btn-block">Receive</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new-outlet" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Outlet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body clearfix">

        <form [formGroup]="newOutletForm" class="form-horizontal">
          <div class="form-group">
            <label for="exampleFormControlInput3">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="outlet name"  formControlName="name">
          </div>
          <div class="row">
            <div class="col-md-12">
              <label >owner</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control"  placeholder="first name"  formControlName="first_name">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control"  placeholder="last name"  formControlName="last_name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label >GPS coordinates</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control"  placeholder="longitude"  formControlName="longitude">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control"  placeholder="latitude"  formControlName="latitude">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Phone</label>
            <input type="tel" class="form-control" placeholder="+255 000 000 000"  formControlName="phone">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Region</label>
            <select class="form-control" formControlName="region"  (change)="regionSelected()">
              <option *ngFor="let region of regions | orderBy: 'name'" value="{{region._id}}">{{region.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">District</label>
            <select class="form-control" formControlName="district"  (change)="districtSelected()">
              <option *ngFor="let district of districts | orderBy: 'name'" value="{{district._id}}">{{district.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Ward</label>
            <select class="form-control" formControlName="ward">
              <option *ngFor="let ward of wards | orderBy: 'name'" value="{{ward._id}}">{{ward.name}}</option>
            </select>
          </div>
          <!--<div class="form-group">
            <label for="exampleFormControlInput4">Classification</label>
            <select class="form-control"  formControlName="classification">
              <option value="{{classification._id}}" *ngFor="let classification of classifications">{{classification?.name}}</option>
            </select>
          </div>-->

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker5"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <button (click)="createOutlet()" class="btn btn-primary btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="posm-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Posm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="PosmForm" class="form-horizontal">
          <table class="table">
            <thead>
              <tr>
                <th>POS</th>
                <th>Found</th>
                <th>New</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Posters</td>
                <td><input type="number" class="form-control"   formControlName="foundPoster"></td>
                <td><input type="number" class="form-control"   formControlName="newPoster"></td>
              </tr>
              <tr>
                <td>Table talkers</td>
                <td><input type="number" class="form-control"   formControlName="foundTableTalker"></td>
                <td><input type="number" class="form-control"   formControlName="newTableTalker"></td>
              </tr>
              <tr>
                <td>Sticker counter</td>
                <td><input type="number" class="form-control"   formControlName="foundStickerCounter"></td>
                <td><input type="number" class="form-control"   formControlName="newStickerCounter"></td>
              </tr>
              <tr>
                <td>Banners</td>
                <td><input type="number" class="form-control"   formControlName="foundBanners"></td>
                <td><input type="number" class="form-control"   formControlName="newBanners"></td>
              </tr>
              <tr>
                <td>Board cut-out</td>
                <td><input type="number" class="form-control"   formControlName="foundBoardCutOut"></td>
                <td><input type="number" class="form-control"   formControlName="newBoardCutOut"></td>
              </tr>
            </tbody>
          </table>

          <div class="form-group">
            <label for="exampleFormControlInput3">Date</label>
            <mat-form-field color="accent" appearance="fill">
              <input matInput [matDatepicker]="picker6"   formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
              <mat-datepicker #picker6 color="primary"></mat-datepicker>
            </mat-form-field>
          </div>

          <button (click)="submitPosm()" class="btn btn-primary btn-block">Submit</button>
          
        </form>
      </div>
    </div>
  </div>
</div>