.page-header{
  border-bottom:1px solid #ccc ;
  height: 1px solid #ccc;
  ul.nav.nav-pills{
    height: 50px;
    width: auto;
    float: left;
    margin-left: 20px;
    li{
      height: 50px;
      a{
        height: 50px;
        color: #444;
        padding: 10px;
        line-height: 30px;
        display: block;
      }
    }
    li.active{
      a{
        font-weight: bold;
        color:000;
        font-weight: bold;
        border-bottom: 1px solid #2980b9;
        display: block;
        margin-bottom: -1px;
        height: 51px;
        cursor: pointer;
      }
    }
  }

  button.new-dc {
    margin-right: 20px;
    font-weight: bold;
    float: right;
    border-width: 0px 1px 0px 1px;
    border-color: #ccc;
    color: #444;
    height: 50px;
    display: block;
    padding: 10px 15px;
    line-height: 30px;
    cursor: pointer;
    span {
      color: #444
    }
  }
  button.new-dc:hover {
    background-color: rgba($color: #000000, $alpha: .02);
    color: #000;
    span {
      color: #2980b9
    }
  }
}
.page-body{

}
.page-footer{
  display: none;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  .wrapper{
    .container-fluid{
      width: 100%;
      position: fixed;
      top:60px;
      left:0px;
      right: 0px;
      bottom: 0px;
      padding: 0px;
      .page-header{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        border-bottom:1px solid #ccc ;
        height: 1px solid #ccc;
        ul.nav.nav-pills{
          height: 50px;
          width: auto;
          float: left;
          margin-left: 20px;
          li{
            height: 50px;
            a{
              height: 50px;
              color: #444;
              padding: 10px;
              line-height: 30px;
              display: block;
            }
          }
          li.active{
            a{
              font-weight: bold;
              color:000;
              font-weight: bold;
              border-bottom: 1px solid #2980b9;
              display: block;
              margin-bottom: -1px;
              height: 51px;
              cursor: pointer;
            }
          }
        }

        button.new-dc {
          display: none;
        }

      }
      .page-body{
        position: absolute;
        top: 51px;
        bottom: 50px;
        left: 0px;
        right: 0px;
        overflow: scroll;
        table.table{
          border-top: 0 !important;
        }
      }
      .page-footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: block;
        height: 50px;
        button.new-dc {
          width: 100%;
          margin-right: 0px;
          font-weight: bold;
          float: right;
          border-width: 1px 0px 0px 0px;
          border-color: #ccc;
          color: #444;
          height: 50px;
          display: block;
          padding: 10px 15px;
          line-height: 30px;
          cursor: pointer;
          span {
            color: #444
          }
        }

        button.new-dc:hover {
          background-color: rgba($color: #000000, $alpha: .02);
          color: #000;
          span {
            color: #2980b9
          }
        }
      }
    }
  }

  footer.footer{
    display: none;
  }
}
