@media (min-width: 320px) and (max-width: 480px) {
  footer.footer{
    display: none;
  }
}

footer.footer{
  border-top: 1px solid #ccc !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

